@{
    ViewData["Title"] = "Responder cuestionario con javascript";
}
<h1>Encuesta con Ajax</h1>
 @Html.AntiForgeryToken() 

<div id="mensaje" class="alert d-none">

</div>

<form id="formEncuesta">
    <div id="contenedorPreguntas">
        <p>Cargando Preguntas...</p>
    </div>

    <button id="btnGuardar" type="submit" class="btn btn-outline-success">
        Guardar Respuestas
    </button>
</form>

