.contedor{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}
.calculadora{
    width: 400px;
    padding: 20px;
    border-radius: 20px;
}
.pantalla{
    background-color: #111827;
    color: white;
    font-size: 2.5rem;
    text-align: right;
    padding: 15px;
    border-radius: 12px;
    margin: 20px;
    min-height: 60px;
    overflow-x: auto;
}
.botones{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
button{
    height: 30px;
    font-size: 1.2rem;
    border: 12px;
}
